USE [master]
GO
/****** Object:  Database [TestDb]    Script Date: 10-Jan-19 06:37:20 PM ******/
CREATE DATABASE [TestDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TestDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TestDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDb]
GO
USE [TestDb]
GO
/****** Object:  Table [dbo].[Actor]    Script Date: 10-Jan-19 06:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actor](
	[ActorId] [int] IDENTITY(1,1) NOT NULL,
	[ActorType] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ACTOR_TB] PRIMARY KEY CLUSTERED 
(
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 10-Jan-19 06:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[Class] [int] NOT NULL,
	[CourseCode] [int] NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 10-Jan-19 06:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseCode] [int] NOT NULL,
	[CourseName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 10-Jan-19 06:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[Id] [int] NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[ActorId] [int] NOT NULL,
 CONSTRAINT [PK_LOGIN_TB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marks]    Script Date: 10-Jan-19 06:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marks](
	[Id] [int] NOT NULL,
	[Class] [int] NOT NULL,
	[Roll] [int] NOT NULL,
	[CourseCode] [int] NOT NULL,
	[Exam] [nvarchar](100) NOT NULL,
	[Mark] [int] NULL,
	[Total] [nvarchar](100) NULL,
 CONSTRAINT [PK_Marks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10-Jan-19 06:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Class] [int] NOT NULL,
	[Roll] [int] NOT NULL,
	[Contact] [nvarchar](15) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 10-Jan-19 06:37:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Designation] [nvarchar](100) NOT NULL,
	[Contact] [nvarchar](15) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actor] ON 

INSERT [dbo].[Actor] ([ActorId], [ActorType]) VALUES (1, N'Admin')
INSERT [dbo].[Actor] ([ActorId], [ActorType]) VALUES (2, N'Register')
INSERT [dbo].[Actor] ([ActorId], [ActorType]) VALUES (3, N'Teacher')
SET IDENTITY_INSERT [dbo].[Actor] OFF
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassId], [Class], [CourseCode], [Id]) VALUES (1, 123, 323, 242)
INSERT [dbo].[Classes] ([ClassId], [Class], [CourseCode], [Id]) VALUES (2, 1, 2, 2)
SET IDENTITY_INSERT [dbo].[Classes] OFF
INSERT [dbo].[Course] ([CourseCode], [CourseName]) VALUES (101, N'B')
INSERT [dbo].[Course] ([CourseCode], [CourseName]) VALUES (102, N'E')
INSERT [dbo].[Course] ([CourseCode], [CourseName]) VALUES (103, N'a')
INSERT [dbo].[Login] ([Id], [Password], [ActorId]) VALUES (1000, N'a1', 1)
INSERT [dbo].[Login] ([Id], [Password], [ActorId]) VALUES (1001, N's1', 4)
INSERT [dbo].[Login] ([Id], [Password], [ActorId]) VALUES (2000, N'r1', 2)
INSERT [dbo].[Marks] ([Id], [Class], [Roll], [CourseCode], [Exam], [Mark], [Total]) VALUES (100, 2, 3, 103, N'First Term', 89, N'000')
INSERT [dbo].[Marks] ([Id], [Class], [Roll], [CourseCode], [Exam], [Mark], [Total]) VALUES (123, 1, 3, 103, N'Final', 90, N'99')
INSERT [dbo].[Student] ([Id], [Name], [Class], [Roll], [Contact]) VALUES (9, N't', 6, 5, N'4456')
INSERT [dbo].[Student] ([Id], [Name], [Class], [Roll], [Contact]) VALUES (1003, N'A', 1, 9, NULL)
INSERT [dbo].[Teacher] ([Id], [Name], [Designation], [Contact]) VALUES (2001, N'Mee', N'T', N'019387456')
USE [master]
GO
