@{
    ViewData["Title"] = "Delete Teacher Information";
}

<!-- Navbar -->
@{
    ViewData["Message1"] = "Register";
    ViewData["MessageR"] = "Register";
    ViewData["Message2"] = "Delete Teacher Information";
}

<!-- delete teacher -->
<form asp-controller="Register" asp-action="DeleteTeacher" class="panel panel-body" method="post">
    <div class="form-group">
        <div class="col-sm-6">
            <label>Id</label>
            <input type="text" name="Id" class="form-control">
            <label>Name</label>
            <input type="text" name="Name" class="form-control">
            <label>Designation</label>
            <input type="text" name="Designation" class="form-control">
            <label>Contact</label>
            <input type="text" name="Contact" class="form-control">
            <br />
            <div class="col-md-offset-2 col-md-10">
                <input asp-action="DeleteTeacher" type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



