@{
    ViewData["Title"] = "Update Course Information";
}
<!-- Navbar -->
@{
    ViewData["Message1"] = "Register";
    ViewData["MessageR"] = "Register";
    ViewData["Message2"] = "Update Course Information";
}

<!-- update Course -->
<form asp-controller="Register" asp-action="UpdateCourse" class="panel panel-body" method="post">
    <div class="form-group">
        <div class="col-sm-6">
            <label>Course Code</label>
            <input type="text" name="CourseCode" class="form-control">
            <label>Course Name</label>
            <input type="text" name="CourseName" class="form-control">
            <br />
            <div class="col-md-offset-2 col-md-10">
                <input asp-action="UpdateCourse" type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

